# 日期
2017/06/29 thu
# 问题
# 行动
## 行动1
## 行动2
# 经验教训

### 行动1

In [3]:
var1 = ['1_X', '2_X', '1_Y', '2_Y']
result = [tuple(c.split('_')) for c in var1]
result

[('1', 'X'), ('2', 'X'), ('1', 'Y'), ('2', 'Y')]

In [4]:
type(result)

list

### 行动2

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    '3_play': [4, 5, 6, 4, 3], '3_gf': [1, 1, 1, 1, 1], 
    '2_cost': [12, 11, 13, 14, 15], '2_eco': [1, 1, 1, 1, 1], 
    '1_py': [2, 1, 3, 4, 5], '1_pyb': [1, 1, 1, 1, 1]}, 
    index=pd.date_range('2017/06/26', periods=5, freq='B'))
df

            1_py  1_pyb  2_cost  2_eco  3_gf  3_play
2017-06-26     2      1      12      1     1       4
2017-06-27     1      1      11      1     1       5
2017-06-28     3      1      13      1     1       6
2017-06-29     4      1      14      1     1       4
2017-06-30     5      1      15      1     1       3

In [11]:
df.colunms = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.colunms])
df

AttributeError: 'DataFrame' object has no attribute 'colunms'