 0.日期
 20170703
 
 # 1.问题
 - index: 1周数据有5个series, 5个series需要赋予日期属性, 日期方案
   + 手打 mon tue wed...字典key装
   + 自动化 yy-mm-dd
     * index=pd.date_range('start', periods, freq)
 - 拼接: 5个series用字典方式拼成df
 - 计算: 8个类比开始运算
 
 # 2.行动
 ### 行动1: index+拼接
 - 5个series用字典的key连接成dataframe
 - 风险: 使用字典的key为'mon' 'tue'等, 无法从周一到周五排序
 ### 行动2: 运算
 ### 行动3
 # 3.经验教训

### 行动1: 活动类型做index日期做columns

In [2]:
import pandas as pd
import numpy as np

In [1]:
index = [('0py', 'A'), ('0py', 'B'),
         ('1ce', 'A'), ('1ce', 'B'),
         ('2rd', 'A'), ('2rd', 'B'),
         ('3gf', 'A'), ('3gf', 'B')]
index

[('0py', 'A'),
 ('0py', 'B'),
 ('1ce', 'A'),
 ('1ce', 'B'),
 ('2rd', 'A'),
 ('2rd', 'B'),
 ('3gf', 'A'),
 ('3gf', 'B')]

In [6]:
data1 = np.random.rand(8)
data1 = pd.Series(data1, index=index)
data2 = np.random.rand(8)
data2 = pd.Series(data2, index=index)
data3 = np.random.rand(8)
data3 = pd.Series(data3, index=index)
data4 = np.random.rand(8)
data4 = pd.Series(data4, index=index)
data5 = np.random.rand(8)
data5 = pd.Series(data5, index=index)

In [7]:
df = pd.DataFrame({'Mon': data1,
                   'Tue': data2,
                   'Wed': data3,
                   'Thu': data4,
                   'Fri': data5})
df

               Fri       Mon       Thu       Tue       Wed
(0py, A)  0.285552  0.866492  0.260497  0.640337  0.798195
(0py, B)  0.792982  0.982897  0.331929  0.008201  0.639144
(1ce, A)  0.115302  0.764024  0.425456  0.826141  0.541552
(1ce, B)  0.679476  0.434517  0.846946  0.601374  0.396486
(2rd, A)  0.060655  0.240206  0.063429  0.358227  0.588919
(2rd, B)  0.909303  0.363713  0.390819  0.704059  0.153028
(3gf, A)  0.324754  0.610257  0.217193  0.910628  0.064429
(3gf, B)  0.868977  0.457331  0.406744  0.940252  0.016947

风险: 使用字典的key为'mon' 'tue'等, 无法从周一到周五排序

### 行动2: 日期做index活动类型做columns

In [2]:
import pandas as pd
import numpy as np

In [7]:
index=pd.date_range('2017/06/26', periods=5, freq='B')
index

DatetimeIndex(['2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
               '2017-06-30'],
              dtype='datetime64[ns]', freq='B')

In [5]:
columns = pd.MultiIndex.from_product(
    [['0py', '1ce', '2rd', '3gf'], ['A', 'B']], 
    names=['subject', 'type'])
columns

MultiIndex(levels=[['0py', '1ce', '2rd', '3gf'], ['A', 'B']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['subject', 'type'])

In [10]:
data = np.round(np.random.randn(5, 8), 1)
data += 10
data

array([[  9.2,  11.6,  10.2,  10.2,   9.7,  10.4,   9.4,  11. ],
       [ 11.4,  10.7,  10.1,  11.1,   8.8,   9.6,   9. ,   9.5],
       [  9. ,   9.2,  10.4,   9.4,  10.7,   7.8,  10.8,  10.6],
       [ 10.1,   9.1,  10.1,  10. ,  10. ,   8.7,  11. ,  10.7],
       [  9.7,  11. ,   9.9,   9.2,  10.1,  10.4,  10.4,  10.7]])

In [11]:
wk_data = pd.DataFrame(data, index=index, columns=columns)
wk_data

subject      0py         1ce         2rd         3gf
type           A     B     A     B     A     B     A     B
2017-06-26   9.2  11.6  10.2  10.2   9.7  10.4   9.4  11.0
2017-06-27  11.4  10.7  10.1  11.1   8.8   9.6   9.0   9.5
2017-06-28   9.0   9.2  10.4   9.4  10.7   7.8  10.8  10.6
2017-06-29  10.1   9.1  10.1  10.0  10.0   8.7  11.0  10.7
2017-06-30   9.7  11.0   9.9   9.2  10.1  10.4  10.4  10.7

In [15]:
wk_data['0py', 'A']

2017-06-26     9.2
2017-06-27    11.4
2017-06-28     9.0
2017-06-29    10.1
2017-06-30     9.7
Freq: B, Name: (0py, A), dtype: float64

In [13]:
wk_data['0py']

type           A     B
2017-06-26   9.2  11.6
2017-06-27  11.4  10.7
2017-06-28   9.0   9.2
2017-06-29  10.1   9.1
2017-06-30   9.7  11.0

In [16]:
test1 = wk_data['0py', 'A']
test1.mean()

9.88

注: 单列数据可以计算平均值
问: 两列数据相加再如何计算平均值？

### 行动3: 2列数据相加