# 日期
20170626 Mon

# 目标
- 用dataframe装2darray

# 参考资料
- DataFrame as a dictionary http://nbviewer.jupyter.org/github/donnemartin/data-science-ipython-notebooks/blob/master/pandas/03.02-Data-Indexing-and-Selection.ipynb#DataFrame-as-a-dictionary

In [1]:
import pandas as pd
import numpy as np

In [2]:
py = pd.Series({'Mon': 2, 
                'Tue': 3.5, 
                'Wed': 2, 
                'Thu': 1, 
                'Fri': 0})

In [3]:
cost = pd.Series({'Mon': 12, 
                'Tue': 13.5, 
                'Wed': 12, 
                'Thu': 11, 
                'Fri': 10})

In [4]:
play = pd.Series({'Mon': 4, 
                'Tue': 4.5, 
                'Wed': 4, 
                'Thu': 5, 
                'Fri': 3})

In [5]:
data = pd.DataFrame({'py': py, 'cost': cost, 'play': play})

In [6]:
data

     cost  play   py
Fri  10.0   3.0  0.0
Mon  12.0   4.0  2.0
Thu  11.0   5.0  1.0
Tue  13.5   4.5  3.5
Wed  12.0   4.0  2.0

# 問題1

- 问:如何控制Mon Tue Wed的顺序？indexing?
- 思考:想使用的功能在教材上找不到时候怎么办？
- kw
  + DataFrame
  + name
  + index
 
 > 回答:如果想要有序排列, 為啥直接用yy-mm-dd直接排序？

In [3]:
import pandas as pd
import numpy as np
py = pd.Series({'2017-06-26': 2, 
                '2017-06-27': 3.5, 
                '2017-06-28': 2, 
                '2017-06-29': 1, 
                '2017-06-30': 0, 
                '2017-07-01': 4, 
                '2017-07-02': 1})
cost = pd.Series({'2017-06-26': 12, 
                '2017-06-27': 13.5, 
                '2017-06-28': 12, 
                '2017-06-29': 11, 
                '2017-06-30': 10, 
                '2017-07-01': 14, 
                '2017-07-02': 11})
play = pd.Series({'2017-06-26': 4, 
                '2017-06-27': 7, 
                '2017-06-28': 4.5, 
                '2017-06-29': 2, 
                '2017-06-30': 4, 
                '2017-07-01': 6, 
                '2017-07-02': 3})

In [4]:
data = pd.DataFrame({'py': py, 'cost': cost, 'play': play})

In [5]:
data

            cost  play   py
2017-06-26  12.0   4.0  2.0
2017-06-27  13.5   7.0  3.5
2017-06-28  12.0   4.5  2.0
2017-06-29  11.0   2.0  1.0
2017-06-30  10.0   4.0  0.0
2017-07-01  14.0   6.0  4.0
2017-07-02  11.0   3.0  1.0

In [7]:
data['cost']

2017-06-26    12.0
2017-06-27    13.5
2017-06-28    12.0
2017-06-29    11.0
2017-06-30    10.0
2017-07-01    14.0
2017-07-02    11.0
Name: cost, dtype: float64

In [8]:
type(data['cost'])

pandas.core.series.Series

# 問題2

```
還是排序問題
即使column使用了yy-mm-dd排序
但是cost, play, py排序依然是亂的
目標是
row的排序為py, cost, play
```

## 行動2.1
- kw: pandas 行排序
- 參考資料: [使用Pandas对数据进行筛选和排序](http://bluewhale.cc/2016-08-06/use-pandas-filter-and-sort.html)
- 代碼: 無
- 執行結果: 無

## 教訓2.1
- pandas的邏輯似乎並不是根據行裴排序
- pandas排序根據內置字段進行篩選排序
- 那麼就要先學習pandas各種典型排序情景