日期 20170705 Wed

## 问题
- 提: 提取dataframe的某2列series
- 加: 2列series相加
- 存: 相加的和存储为1个series

## 参考
- p122, PDSH: DataFrame as a Dictionary

## 行动
- 命令
  + `df[('0', 'C')] = df[('0', 'A')] + df[('0', 'B')]`
 
## 经验
- 1条命令可以执行多项功能

## timelog
- 24mins

In [1]:
import pandas as pd
import numpy as np

In [4]:
index=pd.date_range('2017/06/26', periods=5, freq='B')
columns = pd.MultiIndex.from_product(
    [['0', '1', '2', '3'], ['A', 'B']], 
    names=['subject', 'type'])
data = np.round(np.random.randn(5, 8), 1)
data += 10
df = pd.DataFrame(data, index=index, columns=columns)
df

subject        0           1           2           3
type           A     B     A     B     A     B     A     B
2017-06-26  10.7  10.7   9.0  12.5  10.0   9.1  10.0  10.4
2017-06-27   8.4   9.6   9.8   9.6  10.9  11.4  10.7   9.7
2017-06-28   9.9   9.5   9.0   9.4  10.5   9.9  11.1   9.1
2017-06-29  11.8   9.5  12.0  11.0  11.9  11.1  11.2   9.6
2017-06-30   9.9  10.8  10.6  10.1  10.2   9.7  10.2   8.5

In [7]:
df[('0', 'C')] = df[('0', 'A')] + df[('0', 'B')]
df[('0', 'C')]

2017-06-26    21.4
2017-06-27    18.0
2017-06-28    19.4
2017-06-29    21.3
2017-06-30    20.7
Freq: B, Name: (0, C), dtype: float64