# 0.日期

# 1.问题
- 一一对应的Series排序
- 表头横向排序

# 2.行动

### 行动1
- data.sort([""])
- 返回:data不能执行sort属性
  + 'Series' object has no attribute 'sort'

### 行动2

### 行动3

# 3.经验教训
- DataFrame as a dictionary无法进行sort, 但可以相除

# 4.必要信息

# 5.反馈

In [2]:
import pandas as pd
import numpy as np
py = pd.Series({'2017-06-26': 2, 
                '2017-06-27': 3.5, 
                '2017-06-28': 2, 
                '2017-06-29': 1, 
                '2017-06-30': 0, 
                '2017-07-01': 4, 
                '2017-07-02': 1})
cost = pd.Series({'2017-06-26': 12, 
                '2017-06-27': 13.5, 
                '2017-06-28': 12, 
                '2017-06-29': 11, 
                '2017-06-30': 10, 
                '2017-07-01': 14, 
                '2017-07-02': 11})
play = pd.Series({'2017-06-26': 4, 
                '2017-06-27': 7, 
                '2017-06-28': 4.5, 
                '2017-06-29': 2, 
                '2017-06-30': 4, 
                '2017-07-01': 6, 
                '2017-07-02': 3})
data = pd.DataFrame({'py': py, 'cost': cost, 'play': play})
data

            cost  play   py
2017-06-26  12.0   4.0  2.0
2017-06-27  13.5   7.0  3.5
2017-06-28  12.0   4.5  2.0
2017-06-29  11.0   2.0  1.0
2017-06-30  10.0   4.0  0.0
2017-07-01  14.0   6.0  4.0
2017-07-02  11.0   3.0  1.0

In [3]:
data['py'].sort()

AttributeError: 'Series' object has no attribute 'sort'

### 由此可见, dataframe可以进行sort, series单独也能进行sort
### 问:BUT 为什么series拼接的dataframe不能进行sort?
- 因为用series拼接的df是dictionary

### 重新做1个dataframe

In [2]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    '3play': [4, 5, 6, 4, 3], 
    '2cost': [12, 11, 13, 14, 15], 
    '1py': [2, 1, 3, 4, 5]}, 
    index=['0625', '0626', '0627', '0628', '0629'])
df1

      1py  2cost  3play
0625    2     12      4
0626    1     11      5
0627    3     13      6
0628    4     14      4
0629    5     15      3

In [3]:
df1.sort_values(by='1py')

      1py  2cost  3play
0626    1     11      5
0625    2     12      4
0627    3     13      6
0628    4     14      4
0629    5     15      3

In [4]:
df1['1py']

0625    2
0626    1
0627    3
0628    4
0629    5
Name: 1py, dtype: int64

In [5]:
py = df1['1py']
py.mean()

3.0

In [7]:
cost =  df1['2cost']
cost.mean()

13.0

In [8]:
play = df1['3play']
play.mean()

4.4

In [15]:
mean_result = pd.DataFrame({'26wk_mean': [3.0, 13.0, 4.4]}, index = ['py', 'cost', 'play'])
mean_result

      26wk_mean
py          3.0
cost       13.0
play        4.4