# 日期
20170629周四

# 问题
- index自动录入日期

# 行动
~ 参考资料 pandas doc API pd.date_range()

## 行动1
- pd.date_range('start', periods=5, freq='B')

# 经验教训

### 行动1

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame([1, 2, 3, 4, 5], 
                  index=pd.date_range('2017/06/26', periods=5, freq='B'))
df

            0
2017-06-26  1
2017-06-27  2
2017-06-28  3
2017-06-29  4
2017-06-30  5

### 行动2

In [6]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    '3play': [4, 5, 6, 4, 3], 
    '2cost': [12, 11, 13, 14, 15], 
    '1py': [2, 1, 3, 4, 5]}, 
    index=pd.date_range('2017/06/26', periods=5, freq='B'))
df1

            1py  2cost  3play
2017-06-26    2     12      4
2017-06-27    1     11      5
2017-06-28    3     13      6
2017-06-29    4     14      4
2017-06-30    5     15      3